<section style="padding: 50px; margin-top: 50px; background-color: #D0021B;">
	<div class="row">
		<div class="col-lg-4">

		</div>
		<div class="col-lg-4">
			<H1 style="text-align: center; color: #ffffff;">Welcome!</H1>
			<p style="text-align: center; color: #ffffff;">Ghana's formost platform for shipping and shippng services!</p>
		</div>
		<div class="col-lg-4">

		</div>
	</div>
</section>

