<section style="padding: 30px;">
	<h1>Activity Timiline</h1>
	<ul>
		<li><s>Creating Activity Timeline</s></li>
		<li>Database models</li>
		<li>Database model relations</li>
		<li>Authentication</li>
		<li>User Registration system</li>
		<li>User roles and Authentication</li>
		<li>Creating Products</li>
		<li>Extending product creation with additional functionalities</li>
		<li>Product Searchability</li>
		<li>Creating Shops</li>
		<li>Extending shop creation with additional functinalities</li>
		<li>Order system phase 1</li>
		<li>Order system phase 2</li>
		<li>Order system phase 3</li>
		<li>Order system phase 4</li>
		<li>Order system phase 5</li>
		<li>Payment Integration 1</li>
		<li>Payment gateways and integration</li>
		<li>Mailer system 1</li>
		<li>Mailer system 2</li>
		<li>Email notifications for orders</li>
		<li>Email notifications for product approval</li>
		<li>Email notification for store Aproval</li>
		<li>Product ranking</li>
		<li>UI Design for Web **</li>
		<li>UI design for Android **</li>
	</ul>
</section>